.chat-col{
    right: -100vw;
    bottom: 0;
    top: 94.5px;
    z-index: 1000;
    position: fixed;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 40px;
    padding-top: 10px;
    min-height: -webkit-fill-available;
}

.chat-col.chat-opened {
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
}
.header{
    padding: 2rem;
    background-color: #1f4367!important;
}
#chat-messages{
    height: 70vh;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

#chat-messages::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
}

.chat-box{
    bottom: 5rem;
    right: 0;
    position: absolute;
    border: 0;
    border-top: 1px groove white;
    border-left: 1px groove white;
    font-size: small;
}

.chat-box::placeholder{
    font-size: small;
    font-weight: lighter;
    font-style: italic;
}

.chat-box,
.chat-box:focus{
    resize: none !important;
    box-shadow: none !important;
}

.chat-row{
    height: 100%;
    overflow-x: scroll;
}

.main{
    padding-top: 40px;
}


.remote-video{
    width:100%;
    height:auto;
    max-height: 90vh;
}


.remote-video-controls{
    position:absolute;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:300000;
    padding: 10px;
    width: 100%;
    text-align: center;
    visibility: hidden;
}


.remote-video:hover + .remote-video-controls,
.remote-video-controls:hover{
    visibility: visible;
}


.local-video{
    bottom: 0;
    left: 0;
    position: fixed;
    width:15vw;
}


.mirror-mode{
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.sender-info{
    font-size: smaller;
    margin-top: 5px;
    align-self: flex-end;
}


.msg{
    font-weight: 400;
    font-size: 12px;
    color: black;
    background-color: wheat;
}


.chat-card{
    border-radius: 6px;
}


.btn-no-effect:focus{
    box-shadow: none;
}

.btn-outline-danger {
    color: white;
    border-color: #f5dfc3;
}

.very-small{
    font-size: 6px !important;
}


#close-single-peer-btn {
    position: fixed;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    border-radius: 0%;
    z-index: 100;
}


.pointer{
    cursor: pointer;
}


.record-option{
    height: 54px;
    width: auto;
    border-radius: 5%;
    border: 1px solid #f5dfc3;
    cursor: pointer;
    padding: 10px;
    vertical-align: middle;
    font-size: medium;
    color: white;
}


.custom-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.custom-modal-content {
    background-color: #1f4367;
    margin: 9% auto;
    padding: 59px;
    border: 2px solid #17a2b8;
    border-radius: 53px;
    width: 30%;
    height: 28%;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


@media only screen and (max-width:767px){
    .chat-col{
        right: -100vw;
        width: 100vw;
        z-index: 99999;
        transition: 0.3s;
        top: 47px;
    }
  
    .chat-opened::-webkit-scrollbar {
        display: none;
    }

    #chat-messages{
        height: 60vh;
    }

    .chat-box{
        bottom: 90px;
        margin-bottom: 0px;
    }
    
    .card-sm{
        max-width: 100%;
        min-width: 50%;
    }


    .local-video{
        width:40vw;
    }
}


@media (min-width:768px){
    .card{
        width: 50%;
        z-index: 1000;
    }
}


/* me added */

.exaleap{
    position: absolute;
    width: 86px;
    height: auto;
}

/* login page css */

* {
    padding: 0;
    margin: 0;
  
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  }
  body {
      min-height: 100%;
      background-color: #ffffff;
  }
  h1 {
      letter-spacing: -1px;
  }
  a {
    color: #5469d4;
    text-decoration: unset;
  }
  .login-root {
      background: #fff;
      display: flex;
      width: 100%;
      min-height: 100vh;
      overflow: hidden;
  }
  .loginbackground {
      min-height: 692px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 0;
      overflow: hidden;
  }
  .flex-flex {
      display: flex;
  }
  .align-center {
    align-items: center; 
  }
  .center-center {
    align-items: center;
    justify-content: center;
  }
  .box-root {
      box-sizing: border-box;
  }
  .flex-direction--column {
      -ms-flex-direction: column;
      flex-direction: column;
  }
  .loginbackground-gridContainer {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: [start] 1fr [left-gutter] (86.6px)[16] [left-gutter] 1fr [end];
      grid-template-columns: [start] 1fr [left-gutter] repeat(16,86.6px) [left-gutter] 1fr [end];
      -ms-grid-rows: [top] 1fr [top-gutter] (64px)[8] [bottom-gutter] 1fr [bottom];
      grid-template-rows: [top] 1fr [top-gutter] repeat(8,64px) [bottom-gutter] 1fr [bottom];
      justify-content: center;
      margin: 0 -2%;
      transform: rotate(-12deg) skew(-12deg);
      margin-top: 12%;
  }
  
  .box-divider--light-all-2 {
      box-shadow: inset 0 0 0 2px #e3e8ee;
  }
  .box-background--blue {
      background-color: #5469d4;
  }
  .box-background--white {
    background-color: #ffffff; 
  }
  .box-background--blue800 {
      background-color: #212d63;
  }
  .box-background--gray100 {
      background-color: #e3e8ee;
  }
  .box-background--cyan200 {
      background-color: #7fd3ed;
  }
  .padding-top--64 {
    padding-top: 64px;
  }
  .padding-top--24 {
    padding-top: 24px;
  }
  .padding-top--48 {
    padding-top: 48px;
  }
  .padding-bottom--24 {
    padding-bottom: 24px;
  }
  .padding-horizontal--48 {
    padding: 48px;
  }
  .padding-bottom--15 {
    padding-bottom: 15px;
  }

  .padding-top--185 {
    padding-top: 185px;
  }
  
  
  .flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .formbg {
      margin: 0px auto;
      width: 100%;
      max-width: 448px;
      background: white;
      border-radius: 4px;
      box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }
  span {
      display: block;
      font-size: 20px;
      line-height: 28px;
      color: #1a1f36;
  }
  label {
      margin-bottom: 10px;
  }
  .reset-pass a,label {
      font-size: 14px;
      font-weight: 600;
      display: block;
  }
  .reset-pass > a {
      text-align: right;
      margin-bottom: 10px;
  }
  .grid--50-50 {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
  }
  
  .field input {
      font-size: 16px;
      line-height: 28px;
      padding: 8px 16px;
      width: 100%;
      min-height: 44px;
      border: unset;
      border-radius: 4px;
      outline-color: rgb(84 105 212 / 0.5);
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
  
  input[type="submit"] {
      background-color: rgb(84, 105, 212);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                  rgb(84, 105, 212) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
  }
  .field-checkbox input {
      width: 20px;
      height: 15px;
      margin-right: 5px; 
      box-shadow: unset;
      min-height: unset;
  }
  .field-checkbox label {
      display: flex;
      align-items: center;
      margin: 0;
  }
  a.ssolink {
      display: block;
      text-align: center;
      font-weight: 600;
  }
  .footer-link span {
      font-size: 14px;
      text-align: center;
  }
  .listing a {
      color: #697386;
      font-weight: 600;
      margin: 0 10px;
  }
  
  .animationRightLeft {
    animation: animationRightLeft 2s ease-in-out infinite;
  }
  .animationLeftRight {
    animation: animationLeftRight 2s ease-in-out infinite;
  }
  .tans3s {
    animation: animationLeftRight 3s ease-in-out infinite;
  }
  .tans4s {
    animation: animationLeftRight 4s ease-in-out infinite;
  }
  
  @keyframes animationLeftRight {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(1000px);
    }
    100% {
      transform: translateX(0px);
    }
  } 
  
  @keyframes animationRightLeft {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0px);
    }
  } 